# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.vscode
.env
.history
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.dll
*.exe
.DS_Store
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
_book

# Terraform state
terraform.tfplan
terraform.tfstate
./*.tfstate
.terraform/

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# vendor
vendor/*
!vendor/vendor-manifest.json

#local
config-app.json
