// Content section
.content-grid-element {
  padding: 15px;
  background: #fff;
}

// Filters
.filters-grid-element {
  background: #ffffff;

  .filter-panel-heading {
    padding: 12px 15px;
    background-color: $gray-dark;
    color: #fff;

    h3.panel-title {
      font-size: 18px;
      font-family: $font-family-serif;
      font-weight: 400;
    }

    .btn-clear-all {
      float: right;
      color: #fff;
      font-family: $font-family-sans-serif;
      font-size: 14px;
    }
  }
}

.empty-grid-element {
  background: none;
}