//
// Not Found
// --------------------------------------------------

.page-not-found {
    padding-top: 15px;
    text-align: center;

    p {
        margin-bottom: 15px;
        font-size: 18px;
    }
}
